div {
	text-align:center;
	}
    
div#divHead {
	width: 100%;
	height: 100px;
	background-color:#00CCFF;
    font-weight: bold;
	}

div#divCorps {
	width: 100%;
	height: 735px;
	background-color:#FFCC00;
    font-weight: bold;
	}

div#divFooter {
	width: 100%;
	height: 100px;
	background-color:#33FF99;
	}
    font-weight: bold;