div {
    display: flex;
	}

#divHead {
	width: 100%;
	height: 100px;
	background-color:#00CCFF;
    font-weight: bold;
    align-items: center;
    justify-content: center;
	}

#divCorps {
    float: right;
	width: 80%;
	height: 735px;
	background-color:#FFCC00;
    font-weight: bold;
	}

#divFooter {
	width: 100%;
	height: 100px;
	background-color:#33FF99;
    font-weight: bold;
    align-items: center;
    justify-content: center;
	}

#divMenu {
    float:left;
    width: 20%;
    height: 367.5px;
    background-color:#35ca30;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    }

#divMenuBas {
    float:left;
    width: 20%;
    height: 367.5px;
    background-color:#cf46c4;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    }

div#divNews {
    float: right;
    width:300px;
    height:150px;
    background-color:#FF3300;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    grid-row: inherit;
      
    }

.text {
    color: blue;
    font-size: 20px;
}
.textRed {
    color: red;
    font-size: 30px;
}
/***div {
	text-align:center;
    display: flex;
    align-items: center;
  justify-content: center;
	}***/
